.img {
  max-width: 500px;
  width: 100%;
  height: 150px;
  border-radius: 25px;
}

.relative {
  position: relative;
}

.projectTitle {
  position: absolute;
  text-align: center;
  margin-left: 15%;
  top: 20%;
  width: 65%;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hover:hover {
  box-shadow: -5px -5px grey;
}

.title {
  background-color: navy
}

.gitIcon {
  font-size: 50px;
  margin-left: 15px;
  color: blue;
}

.gitIcon:hover {
  color: lightblue;
}

.description{
  text-align: center;
  margin-left: 11%;
  width: 79%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}








.card-size{
  width: 25rem;
}

.img-size{
  height: 10rem;
}