.img {
  max-width: 500px;
  width: 100%;
  height: 150px;
  border-radius: 25px;
}

.relative {
  position: relative;
}

.projectTitle {
  position: absolute;
  text-align: center;
  margin-left: 15%;
  top: 50%;
  width: 65%;
  text-align: center;
  color: black;
  border-style: solid;
  border-color: black;
  background-color: white;
  border-radius: 5px;
}

.img:hover {
  box-shadow: -5px -5px grey;
}

.title {
  background-color: #E47960;
}